In [1]:

%load_ext sql

#### Make Connection to AWS Redshift Server

In [7]:
import configparser
config = configparser.ConfigParser()
config.read('dwh.cfg')

DWH_DB_USER=config['CLUSTER']['DB_USER']
DWH_DB_PASSWORD=config['CLUSTER']['DB_PASSWORD']
DWH_ENDPOINT=config['CLUSTER']['HOST']
DWH_PORT=config['CLUSTER']['DB_PORT']
DWH_DB=config['CLUSTER']['DB_NAME']
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cro6jkgtg9f7.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [10]:
%sql select * from songplay limit 1

 * postgresql://dwhuser:***@dwhcluster.cro6jkgtg9f7.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(61, datetime.datetime(2018, 11, 17, 23, 13, 41), 70, 'paid', 'SOKUCXB12A6D4FAC0C', 'ARHO39G1187FB4E31B', 113, 'San Antonio-New Braunfels, TX', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [11]:
%sql select * from songplay limit 1

 * postgresql://dwhuser:***@dwhcluster.cro6jkgtg9f7.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(61, datetime.datetime(2018, 11, 17, 23, 13, 41), 70, 'paid', 'SOKUCXB12A6D4FAC0C', 'ARHO39G1187FB4E31B', 113, 'San Antonio-New Braunfels, TX', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')]